<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="del.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <del.Properties.Settings>
            <setting name="delpaths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>\\10.27.137.111\smg\share\guoguang</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="deltimebefore" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="delbyCreateTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deltime" serializeAs="String">
                <value>16:04:30</value>
            </setting>
        </del.Properties.Settings>
    </userSettings>
</configuration>